<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
    processIsolation="false"
    bootstrap="vendor/autoload.php"
    cacheDirectory=".phpunit.cache">

    <source>
        <include>
            <directory suffix="Test.php">src</directory>
        </include>
    </source>

    <php>
        <env name="DB_CONNECTION" value="sqlite" />
        <env name="DB_DATABASE" value="tests/Generate/database.sqlite" />
        <!-- <env name="DB_CONNECTION" value="mysql" />
        <env name="DB_HOST" value="127.0.0.1" />
        <env name="DB_PORT" value="3306" />
        <env name="DB_DATABASE" value="xeed" />
        <env name="DB_USERNAME" value="root" />
        <env name="DB_PASSWORD" value="" /> -->
    </php>
</phpunit>